.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 450px;
    height: 500px;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: #26273d;
}

.timer .timer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 65%;
    color: #545576;
}

.timer .timer-container>.title {
    width: 65%;
    font-size: 1.3rem;
    font-weight: 550;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    max-height: 26%;
    height: 10%;
    padding: 0;
}

.timer .timer-container .curr-time {
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
}

.timer .timer-container .left-time {
    font-weight: 500;
    font-size: 1.1rem;
}

.timer footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.timer footer .action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #606170;
    border-radius: 50px;
    background-color: transparent;
    padding: 7px 20px;

    transition: transform 0.4s, box-shadow 0.4s;

    &:hover {
        transform: scale(0.95);
        box-shadow: 0 0px 5px rgba(255, 255, 255, 0.59);
        cursor: pointer;
    }
}